{{ HTML::style(Config::get("themes.current.theme_url").'/layouts/default/css/bootstrap.css') }}
{{ HTML::style(Config::get("themes.current.theme_url").'/layouts/default/css/modern-business.css') }}
{{ HTML::style(Config::get("themes.current.theme_url").'/layouts/default/font-awesome/css/font-awesome.min.css') }}
<link href='http://fonts.googleapis.com/css?family=Righteous|Roboto' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{{ $headeritems }}