
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            {{ Form::open(array('url'=>'backend/savemenuitem', 'class'=>'form-newmenu')) }}
            <h2 class="form-signin-heading">{{ t('strings.edit_menuitem') }}</h2>

            {{ Form::hidden('menuitemid', $menuitem->id) }}
            {{ Form::label(t('strings.for_menu')) }}
            {{ Form::select('menuid', $menus) }}
            {{ Form::label(t('strings.submenu_from')) }}
            <select name="model" class="">
                <option selected value="0">{{ t('strings.please_select') }}</option>
                @foreach($content as $sub)
                @foreach($sub as $type)
                <option value="{{ $type['model'] }}">{{ $type['title'] }}</option>
                @endforeach
                @endforeach
            </select>
            {{ Form::text('url', $menuitem->url, array('class'=>'form-control form-control-smaller', 'placeholder'=>t('strings.url'))) }}
            <a href="{{ url('backend/contenttype') }}" class="popup-link" data-container="body" data-toggle="popover" data-placement="left" data-content=""><i class="fa fa-file-o"></i> </a>
            {{ Form::text('link_text', $menuitem->link_text , array('class'=>'form-control', 'placeholder'=>t('strings.link_text'))) }}
            {{ Form::label(t('strings.link_target')) }}
            {{ Form::select('link_target', array('_self'=>t('strings.same_window'),'_blank'=>t('strings.new_window')),$menuitem->link_target) }}
            {{ Form::textarea('link_attr', $menuitem->link_attr, array('class'=>'form-control', 'placeholder'=>t('strings.link_attr'))) }}
            {{ Form::text('link_css', $menuitem->link_css, array('class'=>'form-control', 'placeholder'=>t('strings.link_css'))) }}
            {{ Form::text('link_class', $menuitem->link_class, array('class'=>'form-control', 'placeholder'=>t('strings.link_class'))) }}


            {{ Form::submit(t('strings.save_menuitem'), array('class'=>'btn btn-large btn-primary'))}}
            {{ Form::close() }}
        </div>

    </div>

