
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            {{ Form::open(array('url'=>'backend/addmenu', 'class'=>'form-newmenu')) }}
            <h2 class="form-signin-heading">{{ t('strings.new_menu') }}</h2>

            {{ Form::text('title', null, array('class'=>'form-control', 'placeholder'=>t('strings.menu_title'))) }}
            {{ Form::text('name', null , array('class'=>'form-control', 'placeholder'=>t('strings.menu_name'))) }}
            {{ Form::label(t('strings.sub_menu_of')) }}
            <select name="parent" class="">
                <option value="0" >{{t('strings.please_select')}}</option>
                {{$menus}}
            </select>
            {{ Form::label(t('strings.menu_position')) }}
            <select name="position" class="">
                <option selected value="0">{{ t('strings.please_select') }}</option>
                @foreach($positions as $sub)
                @foreach($sub as $k=>$v)
                <option value="{{ $k }}">{{ $v }}</option>
                @endforeach
                @endforeach
            </select>
            {{ Form::label(t('strings.submenu_from')) }}
            <select name="model" class="">
                <option selected value="0">{{ t('strings.please_select') }}</option>
                @foreach($content as $sub)
                @foreach($sub as $type)
                <option value="{{ $type['model'] }}">{{ $type['title'] }}</option>
                @endforeach
                @endforeach
            </select>
            {{ Form::text('url', null, array('class'=>'form-control form-control-smaller', 'placeholder'=>t('strings.url'))) }}
            <a href="{{ url('backend/contenttype') }}" class="popup-link" data-container="body" data-toggle="popover" data-placement="left" data-content=""><i class="fa fa-file-o"></i> </a>
            {{ Form::text('link_text', null , array('class'=>'form-control', 'placeholder'=>t('strings.link_text'))) }}
            {{ Form::label(t('strings.link_target')) }}
            {{ Form::select('link_target', array('_self'=>t('strings.same_window'),'_blank'=>t('strings.new_window')),'_self') }}
            {{ Form::textarea('link_attr', null, array('class'=>'form-control', 'placeholder'=>t('strings.link_attr'))) }}
            {{ Form::text('link_css', null, array('class'=>'form-control', 'placeholder'=>t('strings.link_css'))) }}
            {{ Form::text('link_class', null, array('class'=>'form-control', 'placeholder'=>t('strings.link_class'))) }}

            {{ Form::submit(t('strings.add_menu'), array('class'=>'btn btn-large btn-primary'))}}
            {{ Form::close() }}
        </div>

    </div>

