<header class="navbar">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div id="logo" class="col-xs-12 col-sm-2">
                {{ HTML::link('/backend/dashboard',Config::get('settings.cms.brand')) }}
            </div>
            <div id="top-panel" class="col-xs-12 col-sm-10">
                <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <a href="#" class="show-sidebar ttips" title="{{t('strings.toggle_sidebar')}}" data-placement="bottom">
                            <i class="fa fa-bars"></i>
                        </a>
                        {{ Form::open(array('url'=>'backend/search','method'=>'GET', 'class'=>'form-search')) }}<div id="search">
                            {{ Form::text('search', null, array('class'=>'ttips','data-placement'=>'bottom','title'=>t('strings.search_everything'),'id'=>'unisearch','placeholder'=>t('strings.search'))) }}
                        </div>{{ Form::close() }}
                    </div>
                    <div class="col-xs-6 col-sm-8 top-panel-right">
                        <ul class="nav navbar-nav pull-right panel-menu">
                            {{ $navtools }}
                            <li class="hidden-xs">
                                <a id="addonslink" href="{{ url('addons/manage') }}">
                                    <i class="fa fa-cogs"></i>
                                    <span class="hidden-xs hidden-sm hidden-md">{{ t('strings.addons') }}</span>
                                </a>
                            </li>



                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                    <div class="avatar">
                                        <i style="margin-top: 0" class="fa fa-laptop"></i>
                                    </div>
                                    <i class="fa fa-angle-down pull-right visible-lm"></i>
                                    <div class="user-mini pull-right hidden-md hidden-sm hidden-xs visible-lm">
                                        <span class="welcome">{{ t('strings.design') }}</span>
                                        <span>{{ t('strings.themes') }}</span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a id="themeslink" class="ajax-link" href="{{ url('themes/manage') }}">
                                            <i class="fa fa-desktop"></i>
                                            <span class="hidden-xs hidden-sm hidden-md">{{ t('strings.themes') }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('backend/menus') }}" >
                                            <i class="fa fa-th-list"></i>
                                            {{ t('strings.menus') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('backend/blockmanager') }}" class="ajax-link">
                                            <i class="fa fa-cubes"></i>
                                            <span class="hidden-xs hidden-sm hidden-md">{{ t('strings.gridmanager') }}</span>
                                        </a>
                                    </li>
                                    @if(Config::get('themes.current.config'))
                                    <li>
                                        <a href="{{ url('themes/themeconfig') }}" >
                                            <i class="fa fa-cog"></i>
                                            {{ t('strings.theme_config') }}
                                        </a>
                                    </li>
                                    @endif
                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                    <div class="avatar">
                                        <i style="margin-top: 0" class="fa fa-users"></i>
                                    </div>
                                    <i class="fa fa-angle-down pull-right visible-lm"></i>
                                    <div class="user-mini pull-right hidden-md hidden-sm hidden-xs visible-lm">
                                        <span class="welcome">{{ t('strings.users') }}</span>
                                        <span>{{ t('strings.user_rights') }}</span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ url('users/manage') }}" class="ajax-link">
                                            <i class="fa fa-users"></i>
                                            <span class="hidden-xs hidden-sm hidden-md">{{ t('strings.users') }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('backend/tasks') }}" >
                                            <i class="fa fa-th-list"></i>
                                            {{ t('strings.tasks') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('users/groups') }}" class="ajax-link">
                                            <i class="fa fa-user"></i>
                                            <span class="hidden-xs hidden-sm hidden-md">{{ t('strings.user_groups') }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('users/logs') }}" class="ajax-link">
                                            <i class="fa fa-user-secret"></i>
                                            <span class="hidden-xs hidden-sm hidden-md">{{ t('strings.logs') }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                    <div class="avatar">
                                        <img src="http://www.gravatar.com/avatar/{{ md5(Auth::user()->email) }}" class="img-rounded" alt="avatar" />
                                    </div>
                                    <i class="fa fa-angle-down pull-right visible-lm"></i>
                                    <div class="user-mini pull-right hidden-md hidden-sm hidden-xs visible-lm">
                                        <span class="welcome">{{t('strings.welcome')}},</span>
                                        <span>{{ Auth::user()->firstname }} {{ Auth::user()->lastname }}</span>

                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="modal-link" href="{{ url('users/profile/') }}">
                                            <i class="fa fa-user"></i>
                                            <span class="text">{{ t('strings.profile')}}</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ url('/users/logout') }}">
                                            <i class="fa fa-power-off"></i>
                                            <span class="text">{{ t('strings.logout')}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="hidden-xs hidden-sm">
                                <a href="{{url('backend/help')}}" class="modal-link ttips" id="helpdialog" title="{{t('strings.shortcuts')}}" data-placement="bottom">
                                    <i class="fa fa-lightbulb-o"></i>

                                </a>
                            </li>

                            <li class="hidden-xs hidden-sm">
                                <a href="#" id="locked-screen" class="ttips" title="{{t('strings.lock_unlock_screen')}}" data-placement="bottom">
                                    <i class="fa fa-lock"></i>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>