<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>{{$revision->key}}</h2>
        <hr/>
        <label class="label label-info">{{t('strings.old_value')}}:</label>
        <div class="scrollbars">
            {{$revision->old_value}}
        </div>
        <label class="label label-info">{{t('strings.new_value')}}:</label>
        <div class="scrollbars">
            {{$revision->new_value}}
        </div>
        <hr/>
        <a href="{{ url('backend/revisions/restore/'.$revision->id) }}" class="btn btn-primary pull-right">{{t('strings.restore')}}</a>
        <a href="{{ url('backend/revisions/remove/'.$revision->id) }}" class="btn btn-danger delbtn pull-left">{{t('strings.delete')}}</a>
    </div>
</div>